@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  background-color: rgb(245, 244, 224);
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template: 'verde vermelho' 'amarelo azul';
  grid-gap: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

@media (min-width: 600px) {
  body {
    font-size: 25px;
  }

  .genius {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 28px;
  }

  .genius {
    width: 600px;
    height: 600px;
  }
}

.rotation {
  animation: 800ms alternate 0s backwards animationRotation;
}

@keyframes animationRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control,
.board,
.status {
  position: fixed;
  padding: 0;
  margin: 0;
}

.control {
  left: 0;
  bottom: 0;
}

.control img {
  width: 2em;
  height: 2em;
  margin: 10px;
}

.board {
  right: 0;
  top: 0;
}

.board h2 {
  margin: 0;
  padding: 10px;
  font-size: 1em;
}

.status {
  right: 0;
  bottom: 0;
}

.status h2 {
  margin: 0;
  padding: 10px;
  font-size: 1.2em;
  color: rgb(255, 49, 49);
  animation: 800ms alternate 0s infinite animationPulse;
}

@keyframes animationPulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.blue {
  grid-area: azul;
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.red {
  grid-area: vermelho;
  background-color: red;
  border-top-right-radius: 100%;
}

.yellow {
  grid-area: amarelo;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.green {
  grid-area: verde;
  background-color: green;
  border-top-left-radius: 100%;
}

.selected {
  opacity: 0.5;
}
